mixin contacts-line()
  .contacts-line
    div(class=setModifiers('contacts-line__nest', ['tel']))
      +tel(modifier='small')
    div(class=setModifiers('contacts-line__nest', ['city']))
      .city-locator
        label.city-locator__field
          input.city-locator__input(
            type='text',
            name='userLocation',
            value='Москва',
            readonly,
          )
        ul.city-locator__list
          each city in $CITIES
            li.city-locator__item= city
