.body-footer
  .s-container.body-footer__container
    .body-footer__grid
      mixin body-footer__nest()
        - const modifier = attributes.modifier;
        div(class=setModifiers('body-footer__nest', [modifier]))
          block

      +body-footer__nest()(modifier='listing')
        include _body-footer__items.pug
      +body-footer__nest()(modifier='relations')
        +relations()(modifier='short')
          +relations__nest()(modifier='tel')
            +tel()(modifier='small')
          +relations__nest()(modifier='socials')
            +socials()
      +body-footer__nest()(modifier='appendix')
        .appendix
          +appendix__nest()(modifier='auxiliary')
            +appendix__item()(
              modifier='privacy-policy',
              href='#',
            )| Политика конфиденциальности
            +appendix__item()(
              modifier='creator',
              href='https://www.waytostart.ru/',
              target='_blank',
            )| Создание сайтов #[span.appendix__string= 'WayToStart']
          +appendix__nest()(modifier='logo')
            +logo()(location='footer')
