.body-footer
  .s-container.body-footer__container
    .body-footer__grid
      mixin body-footer__nest(modifier)
        +nest(parent='body-footer', modifier=modifier)
          block
      +body-footer__nest('listing')
        include _body-footer__items.pug
      +body-footer__nest('relations')
        +relations()(modifier='short')
          +relations__nest('tel')
            +tel()
          +relations__nest('socials')
            +socials()
      +body-footer__nest('appendix')
        .appendix
          +appendix__nest('auxiliary')
            +appendix__item()(
              modifier='privacy-policy',
              href='#',
            )| Политика конфиденциальности
            +appendix__item()(
              modifier='creator',
              href='https://www.waytostart.ru/',
              target='_blank',
            )| Создание сайтов #[span.appendix__string= 'WayToStart']
          +appendix__nest('logo')
            +logo()(location='footer')
