ul.s-list.body-footer__items
  mixin body-footer__item()
    - const { enumerator, modifier } = attributes;
    li(class=setModifiers('body-footer__item', [enumerator]))
      +footer-list()(modifier=modifier)
        block
  include _dt_body-footer.pug

  +body-footer__item()(enumerator='1', modifier='catalog')
    - const isOnCatalogPage = ($pageId === 'catalog');
    +footer-list__dropdown(href=(isOnCatalogPage ? '#' : 'catalog.html'))
      | Товары
    +footer-list__content()
      each item in _FOOTER_CATALOG_LIST
        - const [text, path] = item;
        +footer-list__item(path=path, text=text)
  +body-footer__item()(enumerator='2', modifier='navigation')
    +footer-list__dropdown(href='#')
      each item in [['narrow', 'Карта сайта'], ['wide', 'Навигация']]
        - const [submodifier, legend] = item;
        span(class=setModifiers(
          'footer-list__legend',
          [`viewport_${submodifier}`])
        )= legend
    +footer-list__content()
      each item in _FOOTER_NAVIGATION_LIST
        -
          const [text, target] = item;
          let path = `${target}.html`;
        if target === $pageId
          - path = null;
        else if $EMPTY_PATHS.includes(target)
          - path = '#';
        +footer-list__item(path=path, text=text)
