.body-footer
  .s-container.body-footer__container
    .body-footer__grid
      div(class=setModifiers('body-footer__nest', ['listing']))
        include _body-footer__items.pug
      div(class=setModifiers('body-footer__nest', ['relations']))
        div(class=setModifiers('relations', ['short']))
          div(class=setModifiers('relations__nest', ['tel']))
            +tel()(modifier='small')
          div(class=setModifiers('relations__nest', ['socials']))
            +socials()
      div(class=setModifiers('body-footer__nest', ['appendix']))
        .appendix
          div(class=setModifiers('appendix__nest', ['auxiliary']))
            p(class=setModifiers('appendix__item', ['privacy-policy']))
              a.appendix__link(href='#') Политика конфиденциальности
            p(class=setModifiers('appendix__item', ['creator']))
              a.appendix__link(
                href='https://www.waytostart.ru/',
                target='_blank',
              ) Создание сайтов #[span.appendix__string= 'WayToStart']
          div(class=setModifiers('appendix__nest', ['logo']))
            +logo()(location='footer')
