.body-footer
  .s-container.body-footer__container
    .body-footer__row
      div(class=setModifiers('body-footer__nest', ['listing']))
        include _body-footer__items.pug
      div(class=setModifiers('body-footer__nest', ['relations']))
        .relations
          div(class=setModifiers('relations__nest', ['tel']))
            +tel()(modifier='small')
          div(class=setModifiers('relations__nest', ['socials']))
            +socials()
      div(class=setModifiers('body-footer__nest', ['appendix']))
        .appendix
          p.appendix__item
            a.appendix__link(href='#') Политика конфиденциальности
          p.appendix__item
            a.appendix__link(href='https://www.waytostart.ru/')
              | Создание сайтов #[span.appendix__string= 'WayToStart']
