mixin footer-list()
  - const { modifier, list } = attributes;
  div(class=setModifiers('footer-list', [modifier]))
    h3.footer-list__caption
      case modifier
        when 'goods'
          = 'Товары'
        when 'navigation'
          span(class=setModifiers('footer-list__legend', ['viewport_narrow']))
            | Карта сайта
          span(class=setModifiers('footer-list__legend', ['viewport_wide']))
            | Навигация
    .footer-list__content
      ul.footer-list__items
        each item in list
          - const [value1, value2] = item;
          li.footer-list__item
            case modifier
              when 'goods'
                a.footer-list__link(href=value2)= value1
              when 'navigation'
                a.footer-list__link(href=`${value1}.html`)= value2
