mixin appendix__nest(modifier)
  +nest()(parent='appendix', modifier=modifier)
    block
mixin appendix__item()
  - const { modifier, href, target=null } = attributes;
  p(class=setModifiers('appendix__item', [modifier]))
    a.appendix__link(
      href=href,
      target=target,
    )
      block
