extends ../base/_template_html.pug

block page-id
  - const $pageId = 'index';

block body-main__Content
  header(class=setModifiers('body-main__nest', ['promo']))
    .promo
  section(class=setModifiers('body-main__nest', ['about']))
    +about()
  section(class=setModifiers('body-main__nest', ['advantages']))
    .advantages
  section(class=setModifiers('body-main__nest', ['catalog']))
    .catalog
      .s-container.catalog__container
        .catalog__headline
          h2.catalog__heading В нашем магазине
          .catalog__target-link
            +arrow-link()(href='catalog.html'): | Перейти в каталог
        +catalog__content()
  section(class=setModifiers('body-main__nest', ['recipes']))

  section(class=setModifiers('body-main__nest', ['news-preview']))

  section(class=setModifiers('body-main__nest', ['shops']))
    +shops()
