mixin promo()
  .promo
    .promo__container
      .promo__slider
        .promo__list
          - for (i = 1; i <= 5; i += 1)
            div(class=setModifiers('promo__item', [i]))
              +promo-slide()
      .promo__controller
        ul.s-list.promo__controls
          - for (i = 1; i <= 5; i += 1)
            - const isCurrent = (i === 2);
            li.promo__control
              button.promo__button(
                class=(isCurrent ? 'promo__button--current' : null),
                type='button',
                aria-label=`Перейти к слайду №${i}`,
                disabled=(isCurrent ? true : false),
              )
