.body-header
  .body-header__container
    .d-flex-row.body-header__grid
      div(class=setModifiers('body-header__nest', ['logo']))
        +logo()(location='header')
      div(class=setModifiers('body-header__nest', ['menu-control']))
        +menu-control()
      div(class=setModifiers('body-header__nest', ['top-menu']))
        div(class=setModifiers('top-menu', ['narrow-popup', 'wide-line']))
          nav(class=setModifiers('top-menu__nest', ['header-navigation']))
            +header-navigation()
          div(class=setModifiers('top-menu__nest', ['contacts-line']))
            +contacts-line()
          div(class=setModifiers('top-menu__nest', ['user']))
            +user()
