mixin catalog-item()
  -
    const { picture } = attributes;
    const [modifier, text, path, mediaSet] = picture;
    const [lg, sm] = mediaSet;
  div(class=setModifiers('catalog-item', [modifier]))
    a.catalog-item__link(href=path)
      picture.s-picture.catalog-item__picture
        source(
          media='(min-width: 992px)',
          srcset=`img/catalog-item__image--${modifier}@${lg}.jpg`,
        )
        img.s-picture__image(
          src=`img/catalog-item__image--${modifier}@${sm}.jpg`,
          alt=text,
        )
      h3(class=[
        setModifiers('s-heading-2', ['light']),
        'catalog-item__caption',
      ])
        span.catalog-item__string= text
