mixin header-navigation()
  mixin header-navigation__item(modifier)
    li(class=setModifiers('header-navigation__item', [modifier]))
      block
  mixin header-navigation__inner-nest(modifier)
    div(class=setModifiers('header-navigation__inner-nest', [modifier]))
      block

  .header-navigation
    ul.s-list.header-navigation__list
      -
        const _HEADER_NAVIGATION_LIST = [
          ['Каталог', 'catalog'],
          ['О нас', 'about'],
          ['Контакты', 'contacts'],
          ['Магазины', 'shops'],
        ];
      each item in _HEADER_NAVIGATION_LIST
        -
          const [text, target] = item;
          let path = `${target}.html`;
        if target === $pageId
          - path = null;
        else if $EMPTY_PATHS.includes(target)
          - path = '#';
        if target === 'catalog'
          +header-navigation__item('catalog')
            +header-navigation__inner-nest('link')
              a(
                class=setModifiers('header-navigation__link', ['green']),
                href=path,
              )= text
            +header-navigation__inner-nest('button')
              +dropdown-button()(classnames='header-navigation__button')
            +header-navigation__inner-nest('catalog')
              +header-catalog()
        else
          +header-navigation__item('basic')
            a.header-navigation__link(href=path)= text
