mixin header-navigation()
  .header-navigation
    ul.s-list.header-navigation__list
      -
        const _HEADER_NAVIGATION_LIST = [
          ['Каталог', 'catalog'],
          ['Магазины', 'shops'],
          ['Контакты', 'contacts'],
          ['О нас', 'about'],
        ];
      each item in _HEADER_NAVIGATION_LIST
        -
          const [text, target] = item;
          let path = `${target}.html`;
        if target === $pageId
          - path = null;
        else if $EMPTY_PATHS.includes(target)
          - path = '#';
        if target === 'catalog'
          li(class=setModifiers('header-navigation__item', ['catalog']))
            div(class=setModifiers('header-navigation__inner-nest', ['link']))
              a(
                class=setModifiers('header-navigation__link', ['green']),
                href=path,
              )= text
            div(class=setModifiers('header-navigation__inner-nest', ['button']))
              +dropdown-button()(classnames='header-navigation__button')
            div(class=setModifiers('header-navigation__inner-nest', ['catalog']))
              +header-catalog()
        else
          li(class=setModifiers('header-navigation__item', ['basic']))
            a.header-navigation__link(href=path)= text
